fastapi
uvicorn[standard]
python-multipart
onnxruntime
Pillow
numpy
tensordict
numpy
tqdm
hydra-core
iopath
pillow
submitit
opencv-python
matplotlib
fvcore
pandas
scikit-image
tensorboard
timm
loguru
einops
ftfy
regex